@model List<DoctorViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<a asp-controller="Home" asp-action="Add" class="btn btn-success">Go to add</a>

<form asp-controller="Home" asp-action="Index">
    <input type="text" name="FilterString"/>
    <button type="submit" class="btn btn-success">Filter</button>
</form>

<div class="text-center">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">
                    Id
                </th>
                <th scope="col">
                    First Name
                </th>
                <th scope="col">
                    Last Name
                </th>
                <th scope="col">
                    Phone Number
                </th>
                <th scope="col">
                    Work Years
                </th>
                <th scope="col">
                    Is Able To Make Prescription
                </th>
                <th scope="col">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(var doctor in Model)
            {
                <tr>
                    <th scope="row">@doctor.Id</th>
                    <td>@doctor.FirstName</td>
                    <td>@doctor.LastName</td>
                    <td>@doctor.PhoneNumber</td>
                    <td>@doctor.WorkYears</td>
                    <td>@doctor.IsAbleToMakePrescription</td>
                    <td>
                        <a asp-area="" asp-controller="Home" asp-action="View" asp-route-doctorId="@doctor.Id">View</a>
                        |
                        <a asp-area="" asp-controller="Home" asp-action="Delete" asp-route-doctorId="@doctor.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
